:root {
    --vp-c-brand: #f06292;
    --vp-c-brand-light: #ff94c2;
    --vp-c-brand-dark: #ba2d65;
    --vp-code-block-bg: #f6f8fa;
    --vp-code-copy-code-bg: #dedede;
    --vp-code-copy-code-hover-bg: #dedede;
    --vp-c-text-dark-2: #8f8f8f;
    --vp-c-text-dark-3: #8f8f8f;
    --vp-sidebar-bg-color: var(--vp-c-bg);
}

.dark {
    --vp-c-bg: #1f2937;
    --vp-c-bg-alt: #111827;
    --vp-code-block-bg: #111827;
    --vp-c-bg-alpha-with-backdrop: #1f2937bf;
    --vp-code-copy-code-bg: #273345;
    --vp-code-copy-code-hover-bg: #273345;
    --vp-c-text-dark-2: #8a8a8a;
    --vp-c-text-dark-3: #8a8a8a;
}

.VPNavBar > .container > .content {
    background-color: var(--vp-c-bg);
    border-bottom: 1px solid rgba(0,0,0,.1)
}

.VPNavBar > .container > .content {
    background: transparent;
}

button.copy::after {
    top: 0;
    width: 40px;
    height: 40px;
    color: var(--vp-icon-copy);
    background-size: contain;
}

.VPNavBarTitle.has-sidebar .title {
    border: 0;
}

#embedded-editor {
    @apply w-full h-[720px] border-0 rounded-lg my-6
}