@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
    text-decoration: none !important;
}

:root {
    --vp-c-brand-1: #f06292;
    --vp-c-brand-light: #ff94c2;
    --vp-c-brand-dark: #ba2d65;
    --vp-code-block-bg: #f6f8fa;
    --vp-code-copy-code-bg: #dedede;
    --vp-code-copy-code-hover-bg: #dedede;
    --vp-c-text-dark-2: #8f8f8f;
    --vp-c-text-dark-3: #8f8f8f;
    --vp-sidebar-bg-color: var(--vp-c-bg);
    --vp-custom-block-tip-border: transparent;
    --vp-custom-block-tip-text: var(--vp-c-text-1);
    --vp-nav-bg-color: color-mix(in srgb, var(--vp-c-bg) 95%, transparent);
    --vp-custom-block-tip-bg: #ecfdf5;
    --vp-custom-block-tip-border: #dcfce7;
    --vp-custom-block-tip-text: #15803d;
}

.dark {
    --vp-c-bg: #0f172a;
    --vp-c-bg-alt: #111827;
    --vp-c-bg-soft: #1e293b;
    --vp-c-divider: #334155;
    --vp-code-block-bg: #1e293b;
    --vp-c-bg-alpha-with-backdrop: #1f2937bf;
    --vp-code-copy-code-bg: #273345;
    --vp-code-copy-code-hover-bg: #273345;
    --vp-c-text-dark-2: #8a8a8a;
    --vp-c-text-dark-3: #8a8a8a;
    --vp-custom-block-tip-bg: #064e3b;
    --vp-custom-block-tip-border: #052e16;
    --vp-custom-block-tip-text: #f0fdf4;
}

html,
body {
    background-color: var(--vp-c-bg) !important;
}

button.copy::after {
    top: 0;
    width: 40px;
    height: 40px;
    color: var(--vp-icon-copy);
    background-size: contain;
}

.VPNavBarTitle.has-sidebar .title {
    border: 0;
}

#embedded-editor {
    @apply my-6 h-[720px] w-full rounded-lg border-0;
}

#VPSidebarNav > .group {
    @apply border-t-0;

    & > .VPSidebarItem {
        @apply pb-2;

        & > .items {
            & > div {
                @apply border-l pl-4 dark:border-l-gray-600;

                &.is-active.has-active {
                    border-left-color: var(--vp-c-brand-1);
                }
            }
        }
    }
}

.VPNavBar {
    @apply !border-0;
    background: linear-gradient(to right, transparent, var(--vp-nav-bg-color));
    backdrop-filter: blur(12px);

    & > .container {
        & > .content,
        & > .title {
            background: color-mix(in srgb, var(--vp-c-bg) 80%, transparent);
        }
    }

    & > .container > .content {
        border-bottom: 0;

        & > .curtain::before {
            backdrop-filter: blur(12px);
            background: linear-gradient(
                var(--vp-nav-bg-color),
                transparent 90%
            ) !important;
        }

        & > .content-body {
            background-color: transparent;
        }
    }
}

.md-table {
    @apply w-full max-w-full overflow-x-auto md:!table;

    & > tbody > tr > td {
        @apply overflow-auto;

        & > div {
            @apply !my-0 !bg-transparent;

            & > span.lang {
                @apply hidden;
            }

            & > button {
                @apply !right-0 !top-0 scale-75;
            }

            & > pre {
                @apply md:!py-2;

                & > code {
                    @apply md:!px-0;
                }
            }
        }
    }
}

.custom-block.tip {
    @apply !my-8 !rounded-xl !shadow-2xl !shadow-green-200/20
}

.vp-doc > * > video {
    @apply rounded-lg shadow-xl;
}