name: Reindex Arona

on:
    push:
    pull_request:

jobs:
    build:
        name: Build and test code
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Send webhook
              env:
                URL: ${{ secrets.REINDEX_URL }}
                SECRET: ${{ secrets.REINDEX_SECRET }}
              run: |
                curl -X PATCH "$URL" -H "reindex_secret: $SECRET"
